@use "sass:map";
@use "sass:list";
@use "variables";

@mixin darkmode() {
    @if variables.$darkmode != null and variables.$darkmode != "" {
        $self: &;
        @if list.length(variables.$darkmode) == 0 {
            @at-root html {
                @media (prefers-color-scheme: dark) {
                    #{$self} {
                        @content;
                    }
                }
            }
        }

        $auto-selector: map.get(variables.$darkmode, "auto");
        $query-selector: map.get(variables.$darkmode, "query");

        @if $auto-selector != null and $auto-selector != "" {
            @at-root #{$auto-selector} {
                @media (prefers-color-scheme: dark) {
                    #{$self} {
                        @content;
                    }
                }
            }
        }

        @if $query-selector != null and $query-selector != "" {
            @at-root #{$query-selector} {
                #{$self} {
                    @content;
                }
            }
        }
    }
}
