$darkmode: (
    "auto": 'html[data-color-mode="auto"]',
    "query": 'html[data-color-mode="dark"]',
);

@use "fkui/fkui" with (
    $darkmode: $darkmode
);

/** Default */
/*
@use "fkui/fkui" with (
    $darkmode: $darkmode
);
*/

#app .card {
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-border-primary);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
}

#app .my-fancy-component {
    background-color: var(--color-background-primary);
    border: 1px solid var(--color-border-primary);
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;

    /* Demo utav felaktigt scenario utav nyttjande utav prefers-color-scheme */
    /*
    @media (prefers-color-scheme: dark) {
        background-color: hotpink; //  Sägs att utvecklare gillar denna färgen 
    }
    */

    @include fkui.darkmode() {
        background-color: hotpink;
    }
}
